html, body {
    scroll-behavior: smooth;
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-image: url(img/felix-mooneeram-222805-unsplash.jpg);
      filter: blur(8px);
      -webkit-filter: blur(8px);
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
        background-size: cover;  
  }

  .log-panel {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
   
  input {
    padding: 4px 20px;
    border-radius: 5px;
    width: 30vh;
    height: 4vh;
    background: transparent;
    color: white;
    font-size: 90%;

  }

  button {
    width: 30vh;
    height: 4vh;
    border-radius: 5px;
    border: 0px;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 90%;
    text-align: center;
    line-height: initial;
  }

  div .input {
    padding: 10px 20px;
  }

  input:hover{
    color:lightgray;
    border: 1px solid lightgray;
  }

  .div-psw {
    padding: 10px 20px;
  }

  button:hover {
    background: lightgray;
  }

  i {
    color:white;
    font-size: 10vh;
    padding: 10px;
  }