html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  scroll-behavior: smooth;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  z-index: 2;
  padding: 10px;
  font-family: "Radley", serif;
  letter-spacing: 2px;
  font-size: 15vh;
  font-weight: 500;
}

h2 {
  color: white;
  font-size: 5vh;
  padding-bottom: 1vh;
}

h3 {
  font-size: 3vh;
  color: #a82c2c;
  padding-bottom: 2vh;
}

p {
  color: white;
  font-size: 1.5vh;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  height: 60vh;
  background-image: url(../img/felix-mooneeram.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  margin-bottom: 10vh;
}

.header-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

i {
  color: white;
  font-size: 10vh;
  padding: 10px;
}

select {
  width: 20vw;
  height: 3vh;
}

#demo {
  padding-top: 1vh;
}

#moviesList li {
  padding-left: 30px;
  list-style: none;
  color: white;
  font-size: 1.5vh;
}

#moviesList li:after {
  content: "";
  display: block;
  height: 1px;
  width: 140%;
  margin: 10px;
  background: #a82c2c;
}

#hoursList li {
  display: inline-block;
  list-style: none;
}

#hoursList li button {
  background: none;
  border: 1px solid white;
  color: white;
  margin-right: 1vw;
  font-size: 1.5vh;
  margin-bottom: 1.6vh;
}

#hoursList li button:hover {
  background-color: #a82c2c;
  color: white;
}

#theater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-seat {
  display: flex;
}

.seat {
  width: 30px;
  height: 30px;
  background: green;
  text-align: center;
  padding: 1px;
  margin: 6px;
  color: white;
}

.screen {
  background-color: white;
  width: 20vw;
  margin: auto;
  margin-bottom: 2vh;
  align-content: center;
  text-align: center;
  justify-content: center;
  font-size: 2vh;
}

.cost-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#cost {
  margin-bottom: 2vh;
}

#button-pay {
  display: flex;
  align-items: flex-end;
  padding: 1vh;
  font-size: 1.5vh;
  align-content: center;
  background: #a82c2c;
  color: white;
  font-weight: 600;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }
}
